<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <servlet-name>freemarker</servlet-name>
    <servlet-class>freemarker.ext.servlet.FreemarkerServlet</servlet-class>
    <init-param>
      <!-- 模板路径 -->
      <param-name>TemplatePath</param-name>
      <!-- 默认在webapp目录下查找对应的模板文件，我们会将模板文件放在webapp目录下 -->
      <param-value>/</param-value>
    </init-param>
    <init-param>
      <!-- 模板默认的编码：UTF-8 -->
      <param-name>default_encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </servlet>
  <!-- 处理所有以.ftl结尾的文件；ftl是freemarker默认的文件后缀
    当你访问所有后缀是ftl的文件的时候，就会走入对应servlet-->
  <!-- *.ftl的意思是，浏览器输入的url如果是以.ftl结尾的话，就会被 FreemarkerServlet这个Servlet处理，处理所有以.ftl结尾的文件，ftl是freemarker默认的文件后缀-->
  <!-- 即只要客户端浏览器输入的地址是以.ftl结尾的，这个FreemarkerServlet就会自动的到/webapp目录中去查找对应名字的文件，并且将其进行输出 -->

  <servlet-mapping>
    <servlet-name>freemarker</servlet-name>
    <url-pattern>*.ftl</url-pattern>
  </servlet-mapping>
</web-app>
